img#logolink {
  height: 3rem;
  width: 3rem;
}

.btn-primary {
  color: #fff;
  background-color: #8400FF;
  border-color: #8400FF;
}

.btn-primary:hover{
  color: #fff;
  background-color: rgb(80, 0, 155);
  border-color: rgb(80, 0, 155)F;
}

div #bboxlight {
  max-width: 90%;
  border-radius: 1rem 1rem 1rem 1rem;
}

div #bboxdark {
  max-width: 90%;
  border-radius: 1rem 1rem 1rem 1rem;
}

img#index-bar {
  padding-top: 10%;
  padding-bottom: 10%;
  max-width: 90%;
  border-radius: 2rem 2rem 2rem 2rem;
}


img#index-t-scat-y {

    max-width: 90%;
    border-radius: 2rem 2rem 2rem 2rem;
}

img#index-t-scat-n {
  max-width: 90%;
  border-radius: 2rem 2rem 2rem 2rem;
}




.table{
  max-height: 40rem;
  overflow-y: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}



thead th {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 5;
  border: 2px #8400ff
}
