a {
  color: #343a40;
}


.page-item.active .page-link {
  background-color: rebeccapurple;
  border-color: rebeccapurple;
}

.page-link{
  color: black;
}

.page-link:hover {
  z-index: 2;
  color: rebeccapurple;
  text-decoration: none;
  background-color: #e9ecef;
  border-color: #dee2e6;
}

.sidebarul {
    position: -webkit-sticky;
    position: sticky;
    top: 1.25rem;
    height: calc(100vh - 1rem);
    overflow-y: auto;
}

.sidebarli{
  display: block;

}

img#logolink {
  height: 2rem;
  width: 2rem;
}

.btn-primary {
  color: #fff;
  background-color: rebeccapurple;
  border-color: rebeccapurple;
}

.btn-primary:hover{
  color: #fff;
  background-color: rgb(80, 0, 155);
  border-color: rgb(80, 0, 155);
}

.btn-primary:not(:disabled):not(.disabled):active {
  color: rgb(155, 155, 155);
  background-color: rgb(48, 0, 94);
  border-color: rgb(0, 0, 0);
}

div #bboxlight {
  max-width: 90%;
  border-radius: 1rem 1rem 1rem 1rem;
}

div #bboxdark {
  max-width: 90%;
  border-radius: 1rem 1rem 1rem 1rem;
}

img#index-bar {
  max-width: 90%;
  border-radius: 2rem 2rem 2rem 2rem;
}


img#index-t-scat-y {

    max-width: 90%;
    border-radius: 2rem 2rem 2rem 2rem;
}

img#index-t-scat-n {
  max-width: 90%;
  border-radius: 2rem 2rem 2rem 2rem;
}

.studenttable{
  height: calc(100vh - 20rem);
}

.table{
  overflow-y: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
thead th {
  position: sticky;
  position: -webkit-sticky;
  top: 1px;
  z-index: 5;
  border: 0.5rem rebeccapurple
}

