img#logolink {
  height: 2rem;
  width: 2rem;
}

.btn-primary {
  color: #fff;
  background-color: #8400FF;
  border-color: #8400FF;
}

.btn-primary:hover{
  color: #fff;
  background-color: rgb(80, 0, 155);
  border-color: rgb(80, 0, 155);
}

.btn-primary:not(:disabled):not(.disabled):active {
  color: rgb(155, 155, 155);
  background-color: rgb(48, 0, 94);
  border-color: rgb(0, 0, 0);
}

div #bboxlight {
  max-width: 90%;
  border-radius: 1rem 1rem 1rem 1rem;
}

div #bboxdark {
  max-width: 90%;
  border-radius: 1rem 1rem 1rem 1rem;
}

img#index-bar {
  max-width: 90%;
  border-radius: 2rem 2rem 2rem 2rem;
}


img#index-t-scat-y {

    max-width: 90%;
    border-radius: 2rem 2rem 2rem 2rem;
}

img#index-t-scat-n {
  max-width: 90%;
  border-radius: 2rem 2rem 2rem 2rem;
}




.table{
  max-height: 50%;
  overflow-y: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}



thead th {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 5;
  border: 0.5rem #8400ff
}

